/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}
/*Titulo*/
h2{
    text-align: center;
    margin: 40px;
    text-shadow: 7px 4px 5px rgb(161, 161, 200);
}
h1{
    text-align: center;
}
.navbar img {
    height: 50px;
}
/*Contenido primera fila*/
.col-3{
    align-items: center;/*Alinar horizontalmente*/
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /*Alinear verticalmente*/
    height: auto;
}
.col-3 img{
    display: flex;
    max-width: 70%;
    max-height: 70%;
    justify-content: center;
    float: left;
}
/*Contenido de la segunda fila*/
.col-9{
    align-items: center;/*Alinar horizontalmente*/
    margin: 0;
    padding: 20px;
    justify-content: center; /*Alinear verticalmente*/
    height: auto;
}
/*Tabla*/
.tabla{
    width: 90%; /* Ajusta el ancho de la tabla según tus necesidades */
    margin-top: 10px;
    border: 2px solid #000;
    margin-left: auto; /* Centra la tabla horizontalmente */
    margin-right: auto; /* Centra la tabla horizontalmente */
    margin-bottom: 50px;    
}
.cabeza th{
    color: rgb(255, 255, 255);
    background-color: #3b87df;
}
.tabla th, .tabla td {
    text-align: center; /* Centra el texto en las celdas */
    padding: 10px;
    border: 1px solid #ddd; /* Borde para las celdas */
}
/*Agregar Comentario */
.comentario{
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    padding-top: 30px;
    padding-left: 30px;
}
.comentario label{
    margin: 20px;

}
/*Ver Comentario*/
.comentario1{  
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    padding-top: 30px;
}
.comentario1 label{
    margin: 5px;
    padding-left: 30px;
}

#mensaje {
    color: red;
}
#texto {
    width: 90%;
    transition: height 0.4s; /* Agrega una transición suave al cambio de altura */
    overflow-y: hidden; /* Oculta la barra de desplazamiento vertical */
}