h1,
h2 {
  color: #000000;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 128, 179, 0.1);
  margin: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #0080b3;
}

select,
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #b3d4e0;
  border-radius: 4px;
}

button {
  background-color: #0080b3;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #005e80;
}

/* Puedes añadir más estilos según sea necesario */
